.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userContainer {
  width: 100%;
  max-width: 35rem;
  margin: 1rem;
}

.adminContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
}
