.header {
  font-size: 1.25rem;
  padding: 1.25rem 1rem;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.feedbackForm label {
  color: #808080;
}

.feedbackForm textarea {
  resize: vertical;
  min-width: 100%;
  white-space: pre-wrap;
}

textarea::-webkit-scrollbar {
  width: 0.625rem;
}

textarea::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.userDetails {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.userDetails div {
  width: 100%;
}

.btn {
  margin-inline-start: auto;
  margin-top: 0.625rem;
}

@media (max-width: 30rem) {
  .userDetails {
    flex-direction: column;
    gap: 0;
  }
}

.btn {
  width: 100%;
}

@media (min-width: 62rem) {
  .header {
    font-size: 1.5rem;
  }
}
