.filterContainer {
  padding: 1rem;
  background-color: white;
  width: 100%;
}
.header {
  padding: 0.5rem;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.header div {
  display: flex;
  align-items: center;
}

.header svg {
  height: 2rem;
  padding-right: .125rem;
}
.header h2 {
  font-size: 1.25rem;
}

.header p {
  color: #808080;
  padding-inline-start: 0.65rem;
  font-size: 0.85rem;
}

.filterChoice {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.filterChoice label {
  color: #808080;
}

.dateContainer {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 40rem) {
  .filterChoice {
    flex-direction: column;
  }
}
@media (max-width: 25rem) {
  .dateContainer {
    flex-direction: column;
  }
}

.filterBottom {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  width: 100%;
}

@media (min-width: 62rem) {
  .header h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 30rem) {
  .filterChoice {
    width: 100%;
  }
  .filterBottom button {
    width: 100%;
  }
  .filterBottom {
    flex-direction: column;
  }
}

.filterBottom button {
  width: 100%;
}


