.navBar {
  position: fixed;
  height: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: white;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.navBar p {
  color: grey;
  font-size: 0.9rem;
}
.navLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navLeft h2 {
  font-size: 1.375rem;
}

.navLeftIcon {
  background-color: rgba(0, 0, 255, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #3c83f6;
}

.navRight {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #808080;
  text-transform: capitalize;
  width: fit-content;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

@media (min-width: 75rem) {
  .navBar {
    padding-inline: 6rem;
  }
}
@media (min-width: 35rem) {
  .navBar {
    padding-inline: 2rem;
  }
}

@media (min-width: 62rem) {
  .navLeft h2 {
    font-size: 1.5rem;
  }
  .navBar {
    padding-inline: 10rem;
  }
}
 
@media (max-width: 30rem){
  .navLeft {
    h2 {
      display: none;
    }
    p {
      display: none;
    }
  }
  .navLeftIcon {
    font-size: 1.5rem;
    padding: .5rem;
  }
}