.notFound {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625;
  gap: 1rem;
  padding: 1rem;
}

.notFound p {
  color: darkslategray;
  font-weight: 500;
}

.notFound h1 {
  font-size: 5rem;
  font-weight: 500;
  color: darkslategray;
}

.link {
  text-decoration: none;
}